TERM_PROGRAM=Apple_Terminal
SHELL=/bin/bash
TERM=xterm-256color
TMPDIR=/var/folders/st/x9tpq4jj071cqq8qp160m7c40000gn/T/
Apple_PubSub_Socket_Render=/private/tmp/com.apple.launchd.20V0MNGVhQ/Render
TERM_PROGRAM_VERSION=343.6
OLDPWD=/Users/jasmineislam/Documents/programming/python/thinkful/Thinkful
TERM_SESSION_ID=8EFFFD9C-DD39-47D3-867C-8DA4FD34E38E
USER=jasmineislam
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.FR0v7oG0Rt/Listeners
__CF_USER_TEXT_ENCODING=0x1F5:0x0:0x0
VIRTUAL_ENV=/Users/jasmineislam/Documents/programming/python/thinkful/Thinkful/yesterdayFriday/env
PATH=/Users/jasmineislam/Documents/programming/python/thinkful/Thinkful/yesterdayFriday/env/bin:/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/android
PWD=/Users/jasmineislam/Documents/programming/python/thinkful/Thinkful/yesterdayFriday
LANG=en_US.UTF-8
XPC_FLAGS=0x0
BLOGFUL_SECRET_KEY=secret
PS1=(env)\h:\W \u\$ 
XPC_SERVICE_NAME=0
SHLVL=1
HOME=/Users/jasmineislam
LOGNAME=jasmineislam
ARCHFLAGS=-arch x86_64
SECURITYSESSIONID=186a5
_=/usr/bin/env
