{% extends "base.html" %}

{% block content %}
<h1>
    Sparse Matrix Converter
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="input">Enter JSON Matrix</label>
        <input type="text" class="form-control" id="input" name="input" placeholder="Enter JSON" required>
    </div>

    <div class="form-group">
        <label for="dokOutput">Dictionary of Keys Output</label>
        <textarea class="form-control" id="dokOutput" name="dokOutput" readonly  rows="5">{{ dokOutput }}</textarea>
    </div>

    <div class="form-group">
        <label for="lolOutput">List of Lists Output</label>
        <textarea class="form-control" id="lolOutput" name="lolOutput" readonly  rows="5">{{ lolOutput }}</textarea>
    </div>

    <div class="form-group">
        <label for="yaleOutput">Yale Algorithm Output</label>
        <textarea class="form-control" id="yaleOutput" name="yaleOutput" readonly  rows="5">{{ yaleOutput }}</textarea>
    </div>

	    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
