{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<h1>
    Post ID {{ posts[0].id }}
</h1>


<form role="form" method="GET">
    <div class="form-group">
        <label for="title">Title</label>
        <textarea class="form-control" id="title" name="title" rows="1" readonly>{{ posts[0].title }}</textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="20" readonly> {{ posts[0].content }}</textarea>
    </div>
    <button type="button" class="btn btn-default" onclick="location.href='/post/{{ posts[0].id }}/edit'">Edit</button>
    <button type="button" class="btn btn-default" onclick="location.href='/post/{{ posts[0].id }}/delete'">Delete</button>
</form>




{% endblock %}


